*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer{
    height: 50px;
    background-color: #651716;
}
.thankyou-wrapper {
    width: 50%;
    margin: auto;
    background: #ffffff;
    padding: 10px 0px 50px;
}
.thankyou-wrapper img{
    width: 250px;
    height: 250px;
}

.thankyou-wrapper h1 {
    font-size: 1.5em;
    text-align: center;
    color: #333333;
    padding: 0px 10px 10px;
}

.thankyou-wrapper p {
    font: 26px Arial, Helvetica, sans-serif;
    text-align: center;
    color: #333333;
    padding: 5px 10px 10px;
}

.thankyou-wrapper a {
    font: 26px Arial, Helvetica, sans-serif;
    text-align: center;
    color: #ffffff;
    display: block;
    text-decoration: none;
    width: 250px;
    background: #E47425;
    margin: 10px auto 0px;
    padding: 15px 20px 15px;
    border-bottom: 5px solid #F96700;
}

.thankyou-wrapper a:hover {
    font: 26px Arial, Helvetica, sans-serif;
    text-align: center;
    color: #ffffff;
    display: block;
    text-decoration: none;
    width: 250px;
    background: #F96700;
    margin: 10px auto 0px;
    padding: 15px 20px 15px;
    border-bottom: 5px solid #F96700;
}